* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: 'LokiCola';
    src: url('Loki-Cola/LOKICOLA.TTF') format('truetype');
  }
  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #ffffffd2;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 55px;
    background-color: black;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  .item img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .text {
    max-width: 500px;
    font-size: 18px;
    color: #333;
    padding: 10px;
  }
  .Coca-Cola {
    margin-top: 55px;
    text-align: center;
    font-size: 8vw;
    color: #640f0f;
    font-family: 'LokiCola', cursive;
    text-shadow: 2px 2px 4px rgba(109, 61, 61, 0.5),
                 0 0 30px rgba(92, 53, 53, 0.4);
    background-color: white;
    padding: 20px 0;
  }
  .menu div{
    margin: 30px auto;
    font-size: 20px;
    max-width: 300px;
  }